input {
    margin: 30px;
    width: 200px;
    height: 30px;
    background-color: #4b244864;
    color: #ffffff;
}

input::placeholder {
    color: #aba7a7;
}

button {
    margin: 30px;
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    background-color: #774b76;
    cursor: pointer;
    transition: border-color 0.25s;
    color: #ffffff;
    box-shadow: #000000 0 1px 5px;
}

button:hover {
    background-color: #4D3C77;
    color: #7d7d7dde;
}

button:focus, button:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
}

button:disabled {
    background-color: #4D3C77;
    color: #7d7d7dde;
    cursor: default;
}