<div id="main-container" class="he-text">
  <div id="lang-selector-container">
    <select id="lang-selector" name="lang-selector" (change)="switchLang()">
        <option value="hebrew">עברית</option>
        <option value="english">English</option>
    </select>
  </div>
  <h1>{{mainText.title}}</h1>
  <h3 style="color: #ffffff;">
    {{mainText.line1}}
    <br>
    {{mainText.line2}}  
  </h3>
  <id-input
    [isHeb]="isHeb"
    (updateInput)="setNewvalue($event)"
    (clearVal)="clearDirective($event)"
  ></id-input>
  <validator
    [isHeb]="isHeb"
    [inputTxt]="inputTxt"
    [isValidatorCleared]="isValidatorCleared"
  ></validator>
  <div id="footer">
    <p>{{mainText.footerText}} <a 
      href="https://github.com/orgolshtein" 
      target="_blank">github.com/orgolshtein
    </a></p>
    <p><img src="assets/angular_logo.png" alt="angular-logo"></p>
  </div>
</div>
