<div id="main-container" class="he-text">
  <div id="lang-selector-container">
    <select id="lang-selector" name="lang-selector" onchange="{mainContent()}">
        <option value="hebrew">עברית</option>
        <option value="english">English</option>
    </select>
  </div>
  <h1>אימות מספר זהות</h1>
  <h3 style="color: #ffffff;">
    הקלד/י עד 8 ספרות ולחץ/י "תשובה" כדי לקבל את ספרת הביקורת
    <br>
    או הקלד/י 9 ספרות ולחץ/י "תשובה" כדי לאמת את מספר הזהות המלא
  </h3>
  <id-input
    (updateInput)="validate($event)"
    (clearVal)="clearVal($event)"
  ></id-input>
  <validator
    [inputTxt]="inputTxt"
    [output]="output"
    [sum]="sum"
    [color]="color"
    [msg]="msg"
    [outputTxt]="outputTxt"
    [isError]="isError"
  ></validator>
  <div id="footer">
    <p>נבנה על ידי אור גולשטיין: <a href="https://github.com/orgolshtein" target="_blank">github.com/orgolshtein</a></p>
    <p><img src="assets/angular_logo.png" alt="angular-logo"></p>
  </div>
</div>
