*{
    margin: 0;
    padding: 0;
}


:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    background: #ff0066;
    background: -moz-linear-gradient(
      left,
      purple 10%,
      #ff0066 50%,
      purple 100%
    );
    background: -webkit-linear-gradient(
      left,
      purple 10%,
      #ff0066 50%,
      purple 100%
    );
    background: linear-gradient(
      to right,
      purple 10%,
      #ff0066 50%,
      purple 100%
    );
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}